In [1]:
from fyers_apiv3 import fyersModel
from datetime import datetime , timedelta
import pandas as pd
import pytz

# Genrate Token

In [2]:
client_id = "MACO3YJA7I-100"  # Replace with your client ID
secret_key = "N7SXUFQG91"  # Replace with your secret key
redirect_uri = "https://trade.fyers.in/api-login/redirect-uri/index.html"  # Replace with your redirect URI
response_type = "code" 
grant_type = "authorization_code"  
state = "sample_state"

### Genearte Authcode

In [4]:
# # Generate Auth Code
session = fyersModel.SessionModel(
    client_id=client_id,
    secret_key=secret_key,
    redirect_uri=redirect_uri,
    response_type=response_type
)
genrate_authcode = session.generate_authcode()
print(genrate_authcode)

https://api-t1.fyers.in/api/v3/generate-authcode?client_id=MACO3YJA7I-100&redirect_uri=https%3A%2F%2Ftrade.fyers.in%2Fapi-login%2Fredirect-uri%2Findex.html&response_type=code&state=None

In [6]:
auth_code = "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJhcGkubG9naW4uZnllcnMuaW4iLCJpYXQiOjE3MDc4NDQ3NDIsImV4cCI6MTcwNzg3NDc0MiwibmJmIjoxNzA3ODQ0MTQyLCJhdWQiOiJbXCJ4OjBcIiwgXCJ4OjFcIiwgXCJ4OjJcIiwgXCJkOjFcIiwgXCJkOjJcIiwgXCJ4OjFcIiwgXCJ4OjBcIl0iLCJzdWIiOiJhdXRoX2NvZGUiLCJkaXNwbGF5X25hbWUiOiJZSjAwMTI5Iiwib21zIjoiSzEiLCJoc21fa2V5IjoiMjdlMDQ2OGE4MGJkYmVmMGQyYTg3M2MxMmNlN2YyZGEyMjA1NzQ0ZTIwYTg1MDI0YjhlMDA4NDciLCJub25jZSI6IiIsImFwcF9pZCI6Ik1BQ08zWUpBN0kiLCJ1dWlkIjoiZjA1MDZlMDNlNzhjNDI0ZjkyMGZkNjcyZWI5N2NkMmMiLCJpcEFkZHIiOiIwLjAuMC4wIiwic2NvcGUiOiIifQ.W-8B1bH4vETbLcEGwZX8Gh-fWdGgcv7vRCBWDdC3ypQ"

### Set Session & Get TOKEN

In [7]:
session = fyersModel.SessionModel(
    client_id=client_id,
    secret_key=secret_key, 
    redirect_uri=redirect_uri, 
    response_type=response_type, 
    grant_type=grant_type
)
session.set_token(auth_code)
response = session.generate_token()
access_token = response['access_token']

In [8]:
access_token

'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJhcGkuZnllcnMuaW4iLCJpYXQiOjE3MDc4NDQ3NTksImV4cCI6MTcwNzg3MDYxOSwibmJmIjoxNzA3ODQ0NzU5LCJhdWQiOlsieDowIiwieDoxIiwieDoyIiwiZDoxIiwiZDoyIiwieDoxIiwieDowIl0sInN1YiI6ImFjY2Vzc190b2tlbiIsImF0X2hhc2giOiJnQUFBQUFCbHk2U1hsZjgzYUZ5a1dvSnNZY25CcnRQaUNQZ1BzSGpmdHFZNUktaUdvbWdnTmtWelo2b211N3BxOW5CSUtoU0QzTmwyYnpMX2VibUhJMU1XYW82SXAxMVoxSlBvQ3Q5dlBoLUp1bUl6S3N6eXc1TT0iLCJkaXNwbGF5X25hbWUiOiJKQVlLVU1BUiBESEFOU1VLSEJIQUkgUEFURUwiLCJvbXMiOiJLMSIsImhzbV9rZXkiOiIyN2UwNDY4YTgwYmRiZWYwZDJhODczYzEyY2U3ZjJkYTIyMDU3NDRlMjBhODUwMjRiOGUwMDg0NyIsImZ5X2lkIjoiWUowMDEyOSIsImFwcFR5cGUiOjEwMCwicG9hX2ZsYWciOiJOIn0.8brECH4UrCVQxmwKtpezNAqOzjU2zQ79_O5LwuF2zzo'

# Login

In [10]:
access_token= 'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJhcGkuZnllcnMuaW4iLCJpYXQiOjE3MDc4NDQ3NTksImV4cCI6MTcwNzg3MDYxOSwibmJmIjoxNzA3ODQ0NzU5LCJhdWQiOlsieDowIiwieDoxIiwieDoyIiwiZDoxIiwiZDoyIiwieDoxIiwieDowIl0sInN1YiI6ImFjY2Vzc190b2tlbiIsImF0X2hhc2giOiJnQUFBQUFCbHk2U1hsZjgzYUZ5a1dvSnNZY25CcnRQaUNQZ1BzSGpmdHFZNUktaUdvbWdnTmtWelo2b211N3BxOW5CSUtoU0QzTmwyYnpMX2VibUhJMU1XYW82SXAxMVoxSlBvQ3Q5dlBoLUp1bUl6S3N6eXc1TT0iLCJkaXNwbGF5X25hbWUiOiJKQVlLVU1BUiBESEFOU1VLSEJIQUkgUEFURUwiLCJvbXMiOiJLMSIsImhzbV9rZXkiOiIyN2UwNDY4YTgwYmRiZWYwZDJhODczYzEyY2U3ZjJkYTIyMDU3NDRlMjBhODUwMjRiOGUwMDg0NyIsImZ5X2lkIjoiWUowMDEyOSIsImFwcFR5cGUiOjEwMCwicG9hX2ZsYWciOiJOIn0.8brECH4UrCVQxmwKtpezNAqOzjU2zQ79_O5LwuF2zzo'

In [11]:
fyers = fyersModel.FyersModel(client_id=client_id, is_async=False, token=access_token, log_path="")

In [12]:
fyers.get_profile()

{'s': 'ok',
 'code': 200,
 'message': '',
 'data': {'fy_id': 'YJ00129',
  'name': 'JAYKUMAR DHANSUKHBHAI PATEL',
  'image': None,
  'display_name': None,
  'pin_change_date': '18-12-2023 16:00:58',
  'email_id': 'justjayy19@gmail.com',
  'pwd_change_date': None,
  'PAN': '---------',
  'mobile_number': '7069668308',
  'totp': True,
  'pwd_to_expire': 90}}

In [15]:
def Historical_Data(Symbol,TimeFrame):
    data = {
                "symbol":Symbol,
                "resolution": TimeFrame,
                "date_format":"1",
                "range_from":(datetime.now() - timedelta(days=30)).strftime('%Y-%m-%d'),
                "range_to":datetime.now().strftime('%Y-%m-%d'),
                "cont_flag":"0"
            }
    row_data =  fyers.history(data=data)
    df = pd.DataFrame.from_dict(row_data['candles'])
    columns_name = ['Datetime','Open','High','Low','Close','Volume']
    df.columns = columns_name
    df['Datetime'] = pd.to_datetime(df['Datetime'], unit='s')
    df['Datetime'] = df['Datetime'].dt.tz_localize(pytz.utc).dt.tz_convert('Asia/Kolkata')
    df['Datetime'] = df['Datetime'].dt.tz_localize(None)
    return df

Symbol = "NSE:NIFTYBANK-INDEX"
TimeFrame = "15"
df = Historical_Data(Symbol,TimeFrame)
df.to_csv("30day.csv")

In [123]:
from ta.trend import EMAIndicator
import numpy as np

In [124]:
df['Candle'] = ['Green' if close >= open else 'Red' for close, open in zip(df['Close'], df['Open'])]

In [125]:
df['15EMA'] = EMAIndicator(close=df['Close'], window=15, fillna=False).ema_indicator()

In [126]:
df['18C_Gap'] = df['Low'] - df['Low'].rolling(window=60).min()

In [134]:
df[(df['18C_Gap']>= 200) & (df['Low'].shift(1) > df['Low'])]

,Datetime,Open,High,Low,Close,Volume,Candle,15EMA,18C_Gap
36,2024-01-12 12:00:00,21835.1,21836.15,21810.65,21827.6,0,Red,21786.185649,216.90
154,2024-01-19 10:15:00,21638.9,21660.45,21621.95,21660.4,0,Green,21553.773702,203.95
156,2024-01-19 10:45:00,21645.2,21648.40,21618.50,21623.9,0,Red,21572.550178,200.50
231,2024-01-24 10:45:00,21367.2,21394.20,21341.35,21369.2,0,Green,21336.977390,204.15
283,2024-01-29 11:15:00,21634.4,21643.60,21587.10,21633.2,0,Red,21512.109674,337.65
287,2024-01-29 12:15:00,21662.3,21674.20,21649.85,21657.6,0,Red,21570.759186,400.40
290,2024-01-29 13:00:00,21701.3,21714.50,21681.15,21705.1,0,Green,21612.482619,414.75
291,2024-01-29 13:15:00,21705.3,21709.65,21672.85,21681.7,0,Red,21621.134792,333.40
337,2024-01-31 12:15:00,21717.0,21727.25,21660.35,21677.4,0,Red,21654.206965,211.50
338,2024-01-31 12:30:00,21677.3,21692.65,21656.65,21669.2,0,Red,21656.081095,207.80
339,2024-01-31 12:45:00,21668.8,21675.70,21651.55,21667.4,0,Red,21657.495958,202.70
342,2024-01-31 13:30:00,21698.3,21711.30,21662.75,21680.5,0,Red,21668.289675,213.90
377,2024-02-02 09:45:00,21939.2,21947.85,21910.85,21924.7,0,Red,21786.579149,252.10
379,2024-02-02 10:15:00,21937.7,21942.75,21917.85,21938.7,0,Green,21822.134036,243.55
380,2024-02-02 10:30:00,21938.8,21944.55,21915.95,21925.4,0,Red,21835.042281,241.65
386,2024-02-02 12:00:00,22081.6,22094.15,22051.45,22058.8,0,Red,21949.569394,377.15
387,2024-02-02 12:15:00,22058.6,22065.95,21937.10,21937.1,0,Red,21948.010720,262.80