In [27]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import datetime
import yfinance as yf
import pandas as pd
from collections import Counter

# OUR DATA

In [28]:
symbol = '^NSEI'
period = '3d'
interval = "15m"
ticker = yf.Ticker(symbol)

df = ticker.history(period=period, interval=interval)
df.reset_index(drop=False, inplace=True)

In [29]:
df['Datetime'] = pd.to_datetime(df['Datetime'])

In [30]:
df['Date'] = df['Datetime'].dt.date
df['Time'] = df['Datetime'].dt.time
date_range = pd.DatetimeIndex(df['Date'])

In [31]:
df.drop(columns=["Volume","Dividends","Stock Splits"],inplace=True)

current = df.tail(1)

# DATE

In [32]:
current_date = datetime.datetime.now().strftime('%Y-%m-%d')
print("current_date :",current_date)
date_tuples = [(date.year, date.month, date.day) for date in set(df['Datetime'].dt.date)]
date_tuples.sort()
formatted_dates = [f'{date[0]:04d}-{date[1]:02d}-{date[2]:02d}' for date in date_tuples]
previous_day_data = df[df['Datetime'].dt.date == pd.to_datetime('2023-09-01').date()]
previous_date= formatted_dates[-2]
print("previous_data :",previous_date)

current_date : 2023-09-07
previous_data : 2023-09-05

In [33]:
previous_day_data = df[df['Datetime'].dt.date <= pd.to_datetime(previous_date).date() ]

## PREVIOUS DAY HIGH LOW

In [34]:
max_high_row = previous_day_data[previous_day_data['High'] == previous_day_data['High'].max()]["High"]
min_low_row = previous_day_data[previous_day_data['Low'] == previous_day_data['Low'].min()]["Low"]
print("Max High:",max_high_row)
print("Max Low:",min_low_row)

Max High: 35    19586.900391
Name: High, dtype: float64
Max Low: 5    19433.150391
Name: Low, dtype: float64

## MAX AND MIN CANDLES CONFLICT

In [83]:
def count_m_values(row):
    n = 1
    m_counts = {}
    for m in range(int(row['Low']) - n, int(row['High']) + n + 1):
        m_counts[m] = m_counts.get(m, 0) + 1
    return pd.Series(m_counts)

m_counts_df = previous_day_data.apply(count_m_values, axis=1).fillna(0).astype(int)

total_counts = m_counts_df.sum()
max_candle_re = total_counts.reset_index().rename(columns={'index': 'm', 0: 'Count'}).sort_values(by='Count', ascending=False)
max_candle_re['m_diff'] = max_candle_re['m'].diff().abs()
filtered_max_candle_re = max_candle_re[(max_candle_re['m_diff'] >= 20)]
filtered_max_candle_re = filtered_max_candle_re.drop('m_diff', axis=1).head(5)
filtered_max_candle_re.values.tolist()

[[19577, 13], [19508, 12], [19557, 12], [19509, 12], [19569, 12]]

         m  Count   Status
155  19587      1  SUPPORT
1    19433      2  SUPPORT
153  19585      3  SUPPORT
12   19444      4  SUPPORT
90   19522      5  SUPPORT
51   19483      5  SUPPORT
96   19528      5  SUPPORT
55   19487      5  SUPPORT
97   19529      5  SUPPORT
152  19584      6  SUPPORT
42   19474      6  SUPPORT
107  19539      6  SUPPORT
46   19478      6  SUPPORT
99   19531      6  SUPPORT
56   19488      6  SUPPORT
94   19526      6  SUPPORT
32   19464      6  SUPPORT
89   19521      6  SUPPORT
25   19457      6  SUPPORT
29   19461      6  SUPPORT
39   19471      7  SUPPORT
151  19583      7  SUPPORT
26   19458      7  SUPPORT
150  19582      7  SUPPORT
41   19473      7  SUPPORT
100  19532      7  SUPPORT
31   19463      7  SUPPORT
86   19518      8  SUPPORT
102  19534      8  SUPPORT
34   19466      8  SUPPORT
111  19543      8  SUPPORT
66   19498      8  SUPPORT
35   19467      8  SUPPORT
85   19517      8  SUPPORT
149  19581      8  SUPPORT
67   19499      9  SUPPORT
113  19545      9  SUPPORT
63   19495      9  SUPPORT
148  19580      9  SUPPORT
84   19516      9  SUPPORT
70   19502     10  SUPPORT
147  19579     10  SUPPORT
81   19513     10  SUPPORT
112  19544     10  SUPPORT
73   19505     11  SUPPORT
127  19559     11  SUPPORT
72   19504     11  SUPPORT
114  19546     11  SUPPORT
83   19515     11  SUPPORT
146  19578     11  SUPPORT
74   19506     11  SUPPORT
137  19569     12  SUPPORT
77   19509     12  SUPPORT
125  19557     12  SUPPORT
76   19508     12  SUPPORT
145  19577     13  SUPPORT

In [78]:
int(current['Close'].values)

19618