In [77]:
from pymongo import MongoClient
from datetime import datetime, date, timedelta
import pandas as pd
client = MongoClient("mongodb+srv://justj:justj@cluster0.fsgzjrl.mongodb.net/")
db = client['TredBuddy']
db_positions = db['Positions']

## Ananlysis

In [78]:
data = list(db_positions.find({}))

In [79]:
df = pd.DataFrame(data)

In [80]:
gdf = df.groupby(['INDEX', 'SIDE', 'PnL Status']).size().reset_index(name='Total Trades')
pivot_df = gdf.pivot_table(index='INDEX', columns=['SIDE', 'PnL Status'], values='Total Trades', aggfunc='sum', fill_value=0)
pivot_df.columns = ['_'.join(col) for col in pivot_df.columns.values]
pivot_df['Total_Tred'] = pivot_df.sum(axis=1)
pivot_df.reset_index(inplace=True)
pivot_df

                 INDEX  CE_Loss  PE_Loss  PE_Profit  Total_Tred
0     BSE:BANKEX-INDEX        1        0          0           1
1   NSE:FINNIFTY-INDEX        1        1          1           3
2    NSE:NIFTY50-INDEX        1        0          1           2
3  NSE:NIFTYBANK-INDEX        1        0          0           1

In [81]:
gdff = df.groupby(['INDEX', 'SIDE', 'PnL Status'])['PnL GROW'].sum().reset_index(name='Total PnL Grow')
pivot_dff = gdff.pivot_table(index='INDEX', columns=['SIDE', 'PnL Status'], values='Total PnL Grow', aggfunc='sum', fill_value=0)
pivot_dff.columns = ['_Amount_'.join(col) for col in pivot_dff.columns.values]
pivot_dff['Total_Tred_Amount'] = pivot_dff.sum(axis=1)
pivot_dff

,CE_Amount_Loss,PE_Amount_Loss,PE_Amount_Profit,Total_Tred_Amount
INDEX,,,,
BSE:BANKEX-INDEX,-5719.50,0,0,-5719.50
NSE:FINNIFTY-INDEX,-1722.00,-1752,2410,-1064.00
NSE:NIFTY50-INDEX,-1905.00,0,1140,-765.00
NSE:NIFTYBANK-INDEX,-1433.25,0,0,-1433.25

In [82]:
merged_df = pd.merge(pivot_df, pivot_dff, on='INDEX', how='outer')
merged_df.fillna(0, inplace=True)

In [83]:
total_row = merged_df.sum(numeric_only=True)
total_row['INDEX'] = 'Over All'
total_df = pd.DataFrame([total_row])
output = pd.concat([merged_df, total_df], ignore_index=True)

In [84]:
output

,INDEX,CE_Loss,PE_Loss,PE_Profit,Total_Tred,CE_Amount_Loss,PE_Amount_Loss,PE_Amount_Profit,Total_Tred_Amount
0,BSE:BANKEX-INDEX,1.0,0.0,0.0,1.0,-5719.50,0.0,0.0,-5719.50
1,NSE:FINNIFTY-INDEX,1.0,1.0,1.0,3.0,-1722.00,-1752.0,2410.0,-1064.00
2,NSE:NIFTY50-INDEX,1.0,0.0,1.0,2.0,-1905.00,0.0,1140.0,-765.00
3,NSE:NIFTYBANK-INDEX,1.0,0.0,0.0,1.0,-1433.25,0.0,0.0,-1433.25
4,Over All,4.0,1.0,2.0,7.0,-10779.75,-1752.0,3550.0,-8981.75

In [85]:
INDEX	CE_Loss	PE_Loss	PE_Profit CE_Profit	Total_Tred	CE_Amount_Loss	PE_Amount_Loss	PE_Amount_Profit CE_Amount_Profit	Total_Tred_Amount

SyntaxError: invalid syntax (3372149652.py, line 1)