In [3]:
from fyers_apiv3 import fyersModel
from datetime import datetime , timedelta
import pandas as pd
import pytz

# Genrate Token

In [4]:
client_id = "MACO3YJA7I-100"  # Replace with your client ID
secret_key = "N7SXUFQG91"  # Replace with your secret key
redirect_uri = "https://trade.fyers.in/api-login/redirect-uri/index.html"  # Replace with your redirect URI
response_type = "code" 
grant_type = "authorization_code"  
state = "sample_state"

### Genearte Authcode

In [5]:
# # Generate Auth Code
session = fyersModel.SessionModel(
    client_id=client_id,
    secret_key=secret_key,
    redirect_uri=redirect_uri,
    response_type=response_type
)
genrate_authcode = session.generate_authcode()
print(genrate_authcode)

https://api-t1.fyers.in/api/v3/generate-authcode?client_id=MACO3YJA7I-100&redirect_uri=https%3A%2F%2Ftrade.fyers.in%2Fapi-login%2Fredirect-uri%2Findex.html&response_type=code&state=None

In [6]:
auth_code ="eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJhcGkubG9naW4uZnllcnMuaW4iLCJpYXQiOjE3MTA3NzE2OTUsImV4cCI6MTcxMDgwMTY5NSwibmJmIjoxNzEwNzcxMDk1LCJhdWQiOiJbXCJ4OjBcIiwgXCJ4OjFcIiwgXCJ4OjJcIiwgXCJkOjFcIiwgXCJkOjJcIiwgXCJ4OjFcIiwgXCJ4OjBcIl0iLCJzdWIiOiJhdXRoX2NvZGUiLCJkaXNwbGF5X25hbWUiOiJZSjAwMTI5Iiwib21zIjoiSzEiLCJoc21fa2V5IjoiMjdlMDQ2OGE4MGJkYmVmMGQyYTg3M2MxMmNlN2YyZGEyMjA1NzQ0ZTIwYTg1MDI0YjhlMDA4NDciLCJub25jZSI6IiIsImFwcF9pZCI6Ik1BQ08zWUpBN0kiLCJ1dWlkIjoiNWFjYzFiZmI4MjQyNGYyMjlkODU3NTAxM2UwZGFlMjEiLCJpcEFkZHIiOiIwLjAuMC4wIiwic2NvcGUiOiIifQ.bXMc28gw_gBpjyWh2xjHJg5-duwk27WIxnK9MDU_WmQ"

### Set Session & Get TOKEN

In [7]:
session = fyersModel.SessionModel(
    client_id=client_id,
    secret_key=secret_key, 
    redirect_uri=redirect_uri, 
    response_type=response_type, 
    grant_type=grant_type
)
session.set_token(auth_code)
response = session.generate_token()
access_token = response['access_token']

In [8]:
access_token

'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJhcGkuZnllcnMuaW4iLCJpYXQiOjE3MTA3NzE3MDYsImV4cCI6MTcxMDgwODI0NiwibmJmIjoxNzEwNzcxNzA2LCJhdWQiOlsieDowIiwieDoxIiwieDoyIiwiZDoxIiwiZDoyIiwieDoxIiwieDowIl0sInN1YiI6ImFjY2Vzc190b2tlbiIsImF0X2hhc2giOiJnQUFBQUFCbC1FMzZUQmRzQ0U3elNWczlkeHE3aW5QemtSVXdnOU9PVWIwaXZkSmpOLW5RTkwzQmJDTmxqcFpkZkdvcnlBeDR0ZnhaQVVoMlA2SUNGM1ZrVHR0LUR0QXdzcFN6bF81VkhfSVMxaGljaS0zaFpNaz0iLCJkaXNwbGF5X25hbWUiOiJKQVlLVU1BUiBESEFOU1VLSEJIQUkgUEFURUwiLCJvbXMiOiJLMSIsImhzbV9rZXkiOiIyN2UwNDY4YTgwYmRiZWYwZDJhODczYzEyY2U3ZjJkYTIyMDU3NDRlMjBhODUwMjRiOGUwMDg0NyIsImZ5X2lkIjoiWUowMDEyOSIsImFwcFR5cGUiOjEwMCwicG9hX2ZsYWciOiJOIn0.mBNH5Q11eHkyjXVEG8uS1JORt75-WA_s3vHjoI7R250'

# Login

In [9]:
access_token= 'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJhcGkuZnllcnMuaW4iLCJpYXQiOjE3MTA3NzE3MDYsImV4cCI6MTcxMDgwODI0NiwibmJmIjoxNzEwNzcxNzA2LCJhdWQiOlsieDowIiwieDoxIiwieDoyIiwiZDoxIiwiZDoyIiwieDoxIiwieDowIl0sInN1YiI6ImFjY2Vzc190b2tlbiIsImF0X2hhc2giOiJnQUFBQUFCbC1FMzZUQmRzQ0U3elNWczlkeHE3aW5QemtSVXdnOU9PVWIwaXZkSmpOLW5RTkwzQmJDTmxqcFpkZkdvcnlBeDR0ZnhaQVVoMlA2SUNGM1ZrVHR0LUR0QXdzcFN6bF81VkhfSVMxaGljaS0zaFpNaz0iLCJkaXNwbGF5X25hbWUiOiJKQVlLVU1BUiBESEFOU1VLSEJIQUkgUEFURUwiLCJvbXMiOiJLMSIsImhzbV9rZXkiOiIyN2UwNDY4YTgwYmRiZWYwZDJhODczYzEyY2U3ZjJkYTIyMDU3NDRlMjBhODUwMjRiOGUwMDg0NyIsImZ5X2lkIjoiWUowMDEyOSIsImFwcFR5cGUiOjEwMCwicG9hX2ZsYWciOiJOIn0.mBNH5Q11eHkyjXVEG8uS1JORt75-WA_s3vHjoI7R250'

In [10]:
fyers = fyersModel.FyersModel(client_id=client_id, is_async=False, token=access_token, log_path="")

In [11]:
fyers.get_profile()

{'s': 'ok',
 'code': 200,
 'message': '',
 'data': {'fy_id': 'YJ00129',
  'name': 'JAYKUMAR DHANSUKHBHAI PATEL',
  'image': None,
  'display_name': None,
  'pin_change_date': '18-12-2023 16:00:58',
  'email_id': 'justjayy19@gmail.com',
  'pwd_change_date': None,
  'PAN': '---------',
  'mobile_number': '7069668308',
  'totp': True,
  'pwd_to_expire': 90}}

In [20]:
def Historical_Data(Symbol,TimeFrame,startdate,enddate):
    data = {
            "symbol":Symbol,
            "resolution": TimeFrame,
            "date_format":"1",
            "range_from":startdate,
            "range_to":enddate,
            "cont_flag":"0"
            }
    row_data =  fyers.history(data=data)
    return row_data

In [29]:
from datetime import datetime, timedelta
def generate_date_range(years):
    current_date = datetime.now()
    past_date = current_date - timedelta(days=years*365)  
    date_ranges = []
    while past_date < current_date:
        next_date = past_date + timedelta(days=3*30)
        if next_date > current_date:
            next_date = current_date
        date_ranges.append((past_date, next_date))
        past_date = next_date + timedelta(days=1)
    return date_ranges

In [30]:
data = []
Symbol = "NSE:NIFTY50-INDEX"
TimeFrame = "5"
for i in  generate_date_range(5):
    startdate = i[0].date()
    enddate = i[1].date()
    df = Historical_Data(Symbol,TimeFrame,startdate,enddate)
    data.extend(df['candles'])

In [31]:
import pandas as pd

In [32]:
df = pd.DataFrame(data)

In [33]:
columns_name = ['Datetime','Open','High','Low','Close','Volume']
df.columns = columns_name
df['Datetime'] = pd.to_datetime(df['Datetime'], unit='s')
df['Datetime'] = df['Datetime'].dt.tz_localize(pytz.utc).dt.tz_convert('Asia/Kolkata')
df['Datetime'] = df['Datetime'].dt.tz_localize(None)

In [34]:
df.to_csv("Nifty50_5min.csv", index=False)

In [35]:
df

                 Datetime      Open      High       Low     Close  Volume
0     2019-03-20 09:15:00  11553.30  11556.10  11530.70  11532.20       0
1     2019-03-20 09:20:00  11530.50  11531.80  11518.70  11529.50       0
2     2019-03-20 09:25:00  11529.30  11530.20  11522.20  11522.30       0
3     2019-03-20 09:30:00  11522.90  11523.80  11511.50  11516.20       0
4     2019-03-20 09:35:00  11515.80  11521.00  11511.60  11521.00       0
...                   ...       ...       ...       ...       ...     ...
92513 2024-03-18 15:05:00  22069.65  22070.10  22037.45  22052.75       0
92514 2024-03-18 15:10:00  22052.70  22057.35  22046.15  22056.20       0
92515 2024-03-18 15:15:00  22055.00  22068.35  22050.40  22050.60       0
92516 2024-03-18 15:20:00  22050.15  22050.55  22036.30  22048.30       0
92517 2024-03-18 15:25:00  22048.65  22061.20  22047.05  22051.50       0

[92518 rows x 6 columns]